<div class="section--{{ section.id }}-padding">
    <div class="location_main_container">
        <div class="location_main_wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.062239155368!2d72.83074077381222!3d18.928639056584842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1658aa2fad7%3A0x4e24c4aab41d0e02!2sHamilton%20Houseware%20Pvt.%20LTD.!5e0!3m2!1sen!2sin!4v1708404618921!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{%  style  %} 

@media screen and (min-width: 750px){
.section--{{ section.id }}-padding{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
}
@media screen and (max-width: 749px){
.section--{{ section.id }}-padding{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
}
{% endstyle %} 

{% schema %}
{
    "name": "location",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "location"
      }
    ]
  }
{% endschema %}