{{ 'pledge.css' | asset_url | stylesheet_tag }}

<div class="pledge-{{ section.id }} color-scheme-{{ section.settings.color_scheme }}">
  <div class="page-width text-{{ section.settings.align_text }}">
    
  </div>
</div>
{% comment %} <div class="loader-logo__img">
  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
    </svg>
</div> {% endcomment %}
{% comment %} <script src="{{ 'pledge.js' | asset_url }}" defer></script> {% endcomment %}

{% schema %}
{
  "name": "t:sections.take-pledge.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.rich-text.settings.color_scheme.label",
      "default": "1",
      "options": [
        {
          "value": "none",
          "label": "t:sections.rich-text.settings.color_scheme.options.none.label"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.take-pledge.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.take-pledge.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.take-pledge.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.take-pledge.settings.align_text.options.right.label"
        }
      ]
    }
  ]
}
{% endschema %}